<article class="feed {{visibility}} {{post_class}}">

    <div class="feed-calendar">
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
    </div>

    <div class="os-feed-content">
        <h2 class="feed-title">{{title}}</h2>
        <div class="os-feed-excerpt">{{excerpt words="25"}}</div>
    </div>

    <div class="feed-right">
        {{#primary_tag}}
            <span class="os-feed-type os-feed-type-{{slug}}">{{name}}</span>
        {{/primary_tag}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>

    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>
